/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

/* Firefox */
input[type=number]
  -moz-appearance: textfield

select::-ms-expand
  display: none

input,
textarea,
select
  font-weight: inherit

textarea:not(.clear)
  @apply py-[2px]

textarea:not(.clear),
input[type=text]:not(.clear),
input[type=number]:not(.clear)
  @apply w-full min-h-[31px] px-[6px] bg-$primary border border-$primary font-light focus:outline-none focus:border-$rare

select:not(.clear)
  @apply w-full h-[31px] leading-[28px] pl-[2px] pr-[8px] bg-$primary cursor-pointer border border-$primary font-light focus:outline-none focus:border-$rare

