:root
  --note: 'by mioe'
  --transition: .5s cubic-bezier(0.175,0.885,0.32,1)

:root
  --title: 'light wizard (by mioe)'
  --background-default: #fff
  --background-primary: #F2F2F2
  --background-secondary: #fff
  --color-default: #202124
  --border-default: #E5E5E5

html.dark:root
  --title: 'dark wizard (by mioe)'
  --background-default: #24292d
  --background-primary: #0C0F12
  --background-secondary: #191C1F
  --color-default: #e8eaed
  --border-default: #0C0F12
