@import '_root'
@import '_anime'

*,
::before,
::after
  border-color: var(--default)

html
  background: var(--document)

body
  font-family: 'Rubik', sans-serif
  font-weight: 300
  color: var(--common)
  &.is-blocked
    overflow: hidden

/* Components */
@import '_buttons'
@import '_forms'
